sonar.projectKey=${PROJECT_KEY}
sonar.projectName=${PROJECT_NAME}
sonar.projectVersion=1.0
sonar.sources=src
sonar.sourceEncoding=UTF-8
sonar.exclusions=node_modules/**,dist/**,build/**,coverage/**,*.spec.ts,*.test.ts
sonar.host.url=http://localhost:9000
sonar.eslint.reportPaths=.sonarq/eslint-report.json
